<form action="/m233/internship/add/save">
    <table>
        <tr>
            <td>tên</td>
            <td><input name="name" type="text"></td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td><input type="date" name="dob">
            </td>
        </tr>
        <tr>
            <td>Giới thiệu bản thân</td>
            <td><input type="text" name="description"></td>
        </tr>
        <tr>
            <td>ảnh đại diện</td>
            <td><input name="avatar" type="file"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Thêm mới</button>
            </td>
        </tr>
    </table>


</form>
