<?php
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
//$modelUser = $objectManager->create('Bach\Internship\Model\Users');
//$users = $modelUser->getCollection();
//?>
<div class="owl-carousel owl-theme"
     data-mage-init='{"Bach_Internship/js/widget_carousel": {"loop": false,"nav": true, "items" : 1, "dots": false, "autoplayTimeout" : 5000, "autoplay" : true}}'>
    <div><h4> Slide 1</h4></div>
    <div><h4> Slide 2</h4></div>
</div>

