<?php
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
//$cart = $objectManager->create('\Magento\Checkout\Model\Session');
?>
<div style="display: none" id="popup-modal">
    <div id="minicart-content-wrapper-demo">
        <span id="subtotal"></span>

    </div>
</div>
