<?php
$user = $this->getUserById();
if ($this->getUserById() != null) {
    ?>

    <?php echo $user['id'] ?><br/>
    <?php echo $user['name'] ?><br/>
    <?php echo $user['avatar'] ?><br/>
    <?php echo $user['dob'] ?><br/>
    <?php echo $user['description'] ?><br/>
<?php } ?>
khong co id nay


