<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$modelUser = $objectManager->create('Bach\Internship\Model\Users');
$users = $modelUser->getCollection();

?>
<a href="/m233/internship/add/">Them moi</a>
<table>
    <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Ảnh đại diện</th>
        <th>Sinh nhật</th>
        <th>Mô tả</th>
    </tr>
    <?php foreach ($users as $key => $user) { ?>
        <tr>
            <td><?php echo $key; ?></td>
            <td><?php echo $user->getName(); ?></td>
            <td><?php echo $user->getAvatar(); ?></td>
            <td><?php echo $user->getDob(); ?></td>
            <td><?php echo $user->getDescription(); ?></td>
            <td><a href="/m233/internship/detail/?id=<?php echo $user->getId(); ?>">Chi tiết</a></td>
        </tr>
    <?php } ?>
</table>

